/mitopipeline/REFs/*
/mitopipeline/tools/gatk/*
/mitopipeline/tools/annovar/*
/mitopipeline/tools/snpeff/*
/dist/*
/mitopipeline/__pycache__/*
/bin/*
/build/*
/mitopipeline.egg-info/
/mitopipeline/*.pyc
/mitopipeline/pipeline_output/*
/mitopipeline/pipeline.py
/pipeline.py
/__pycache__/*

